<!DOCTYPE HTML>
<html lang="zxx">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>#InsideSL</title>
		<!-- Font family -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		<!-- BOOTSTRAP GRID CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.css" />
		<!-- GLDE SLIDER -->
		<link rel="stylesheet" href="/assets/css/glide.core.min.css" />
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body> 


        



        <section class="_signin_trvl_sec">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="_lft_signup_trvl">
                    <img src="/assets/img/signup.png" alt="image">
                </div>
                </div>
                  <div class="col">
                    <div class="_rght_signin_trvl">
                        <form action="action_page.php" method="post">

            
          <div><a href="/index.html"><img src="/assets/img/Close.png" class="_close_btn" alt="image"></a></div>

                            <div class="container">
                
                                <h2 class="_rght_signin_trvl_h2">Sign Up</h2>
                                <p class="_rght_signin_trvl_p1">Already have an ccount? <a href="/assets/src/Components/signin.html" class="_rght_signin_trvl_p2">Sign in</a> </p>
                                <br> <br>
                              <label for="uname" class="_rght_signin_trvl_p1"><p>User Name</p></label>
                              <input class="_type_txt_signin" type="text" name="uname" required>
                          <br> <br>
                          <label for="uname" class="_rght_signin_trvl_p1"><p>Email Address</p></label>
                          <input class="_type_txt_signin" type="text" name="uname" required>
                      <br> <br>
                              <label for="psw" class="_rght_signin_trvl_p1"><p>Password</p></label>
                              <input class="_type_txt_signin" type="password"  name="psw" required>
                              <br> <br>
                              <p class="_rght_signin_trvl_p3">By creating an account, you agree to our
                                Terms of use and Privacy Policy </p>
                                <br>
                              <button class="_signin_btn" type="submit" ><a href="/index.html" class="_signin_btn">Sign Up</a></button>
                              <label class="_rght_signin_trvl_p3">
                                  <br>
                                <input  type="checkbox"  checked="checked"   name="remember"> Remember me
                              </label>
                            </div>
                          
                            
                          </form>
                    </div>
                  </div>
                </div>
                
              </div>
            </section>
        